
.formfield{
    display: block;
    width: 30%;
    border-radius: 10px;
    border: solid rgba(210, 105, 30, 0.83);
    
}

.formlabel{
    font-family: Arial, sans-serif
}


input[type=text]{
    margin: 20px;
    height: 30px;
}



#edyform{
    background-color: bisque;
   float: right;
    width: 50%;
}


#g1form{
    background-color: aqua;
    float: left;
    width: 50%;
    height: 600px;
}




h1{
    text-align: center;
    color: red;
}


h2{
    font-family: fantasy;
    background-color: deepskyblue;
    
}


h3{
    color: chocolate;
    font-family: Arial, sans-serif;
    letter-spacing: normal;
}


table{
    border: 5px solid black;
    font-family: Arial;
    background-color: darkseagreen;
}

td{
    border: 1px solid black;
}



tr{
    border: 1px solid black;
}


th{
    border: 1px solid red;
}